@import url('https://abbie.github.io/discord-css/import.css');
@import url(https://davart154.github.io/Themes/Snippets/Simplified%20Panel%20Area/SimplifiedPanelArea.css);
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css");
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css);
@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');
@import url("https://minidiscordthemes.github.io/Snippets/ForumImprovements/main.css");


body {
    /* sizes */
    --gap: 12px; /* spacing between panels */
    --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */

    /* animation/transition options */
    --animations: off; /* turn off to disable all midnight animations/transitions */
    --list-item-transition: 0.2s ease; /* transition for list items */
    --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */

    /* top bar options */
    --move-top-bar-buttons: on; /* turn on to move inbox button to the server list (recommend setting top bar height to 24px) */
    --custom-app-top-bar-height: 32px; /* height of the titlebar/top bar (default is 36px)*/

    /* window controls */
    --custom-window-controls: on;
    --window-control-size: 11.5px; /* size of custom window controls */

    /* dms button icon options */
    --dms-icon: on; /* set to default to use discord icon, on to use custom icon, off to disable completely */
    --dms-icon-svg-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg'); /* icon svg url. MUST BE A SVG. */
    --dms-icon-svg-size: 90%; /* size of the svg (css mask-size) */
    --dms-icon-color-before: var(--icon-secondary); /* normal icon color */
    --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */

    /* dms button background options */

    /* background image options */
    --background-image: off; /* turn on to use a background image */
    --background-image-url: url(''); /* url of the background image */

    /* transparency/blur options */
    /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
    --transparency-tweaks: off; /* turn on to remove some elements for better transparency */
    --remove-bg-layer: off; /* turn on to remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
    --panel-blur: off; /* turn on to blur the background of panels */
    --blur-amount: 12px; /* amount of blur */
    --bg-floating: var(--bg-3); /* you can set this to a more opaque color if floating panels look too transparent */

    /* chatbar options */
    --flipped-chatbar: on; /* turn on to move the typing indicator above the chatbar */
    --chatbar-height: 47px; /* height of the chatbar (52px by default, 47px to align it with the user panel) */
    --chatbar-padding: 8px; /* padding of the chatbar */

    /* other options */
    --small-user-panel: off; /* turn on to make the user panel smaller like in old discord */
}

/* color options */
:root {
    --control-background-primary-default: #151515;
    --control-background-primary-hover: #252525;
    --\\--compact-title-bar: false;
    --\\--compact-input-box: true;
    --\\--compact-context-menu: false;
    --\\--compact-user-area: true;
    --\\--compact-channel-categories: false;
    --\\--compact-server-list: true;

    --\\--hide-nameplates: true;
    --\\--hide-guild-tags: true;
    --\\--hide-profile-effects: true;
    --\\--hide-avatar-decorations: false;
    --\\--hide-gradient-glow-usernames: true;
    --\\--hide-server-boost-goal: true;
    --\\--hide-server-activity: true;
    --\\--hide-user-activity: true;
    --\\--hide-context-menu-quick-reactions: true;
    --\\--hide-hover-quick-reactions: true;
    --\\--hide-image-edit-button: true;
    --\\--hide-gif-button: false;
    --\\--hide-sticker-button: false;
    --\\--hide-emoji-button: false;
    --\\--hide-apps-button: true;
    --\\--hide-gift-button: true;
    --\\--hide-help-button: false;
    --\\--hide-shop-button: false;
    --\\--hide-nitro-button: true;
    --\\--hide-active-now: true;
    --\\--hide-nitro-upsells: true;
    --\\--hide-vencord-desktop-platform-indicator: true;
    --\\--hide-cluttery-badges: false;
    /* ^ hides quest, hypesquad, active dev, and discriminator badges */

    --\\--darker-scrollbar: true;
    --\\--darker-hovered-message: true;
    --\\--prevent-sidebar-resizing: false;
    --\\--fix-minor-icon-misalignments: true;


    --colors: on; /* turn off to use discord default colors */
    --border-hover: #000;
    /* text colors */
    --text-0: var(--bg-3); /* text on colored elements */
    --text-1: hsl(0, 0%, 96%); /* other normally white text */
    --text-2: #ffffff; /* headings and important text */
    --text-3: #ffffff; /* normal text */
    --text-4: hsl(0, 0%, 59%); /* icon buttons and channels */
    --text-5: #717171; /* muted channels/chats and timestamps */

    /* background and dark colors */
    --bg-1: #5b5b5b; /* dark buttons when clicked */
    --bg-2: #3f3f3f; /* dark buttons */
    --bg-3: #000000; /* spacing, secondary elements */
    --bg-4: #000000; /* main background color */
    --hover: hsla(0, 0%, 59%, 0.1); /* channels and buttons when hovered */
    --active: hsla(0, 0%, 44%, 0.2); /* channels and buttons when clicked or selected */
    --active-2: hsla(0, 0%, 57%, 0.3); /* extra state for transparent buttons */
    --message-hover: hsla(235, 0%, 0%, 0.1); /* messages when hovered */

    /* accent colors */
    --accent-1: var(--purple-1); /* links and other accent text */
    --accent-2: var(--purple-2); /* small accent elements */
    --accent-3: var(--purple-3); /* accent buttons */
    --accent-4: var(--purple-4); /* accent buttons when hovered */
    --accent-5: var(--purple-5); /* accent buttons when clicked */
    --accent-new: var(--accent-2); /* stuff that's normally red like mute/deafen buttons */
    --mention: #121212; /* background of messages that mention you */
    --mention-hover: #121212; /* background of messages that mention you when hovered */
    --reply: #121212; /* background of messages that reply to you */
    --reply-hover: #121212; /* background of messages that reply to you when hovered */

    /* status indicator colors */
    --online: var(--green-2); /* change to #43a25a for default */
    --dnd: var(--red-2); /* change to #d83a42 for default */
    --idle: var(--yellow-2); /* change to #ca9654 for default */
    --streaming: var(--purple-2); /* change to #593695 for default */
    --offline: var(--text-4); /* change to #83838b for default offline color */

    /* border colors */
    --border-light: var(--hover); /* light border color */
    --border: #000000; /* normal border color */
    --button-border: hsl(235, 0%, 100%, 0.1); /* neutral border color of buttons */

    /* base colors */
    --red-1: hsl(0, 0%, 20%);
    --red-2: hsl(0, 0%, 20%);
    --red-3: hsl(0, 0%, 20%);
    --red-4: hsl(0, 0%, 20%);
    --red-5: hsl(0, 0%, 20%);

    --green-1: hsl(0, 0%, 20%);
    --green-2: hsl(0, 0%, 20%);
    --green-3: hsl(0, 0%, 20%);
    --green-4: hsl(0, 0%, 20%);
    --green-5: hsl(0, 0%, 20%);

    --blue-1: hsl(0, 0%, 20%);
    --blue-2: hsl(0, 0%, 20%);
    --blue-3: hsl(0, 0%, 20%);
    --blue-4: hsl(0, 0%, 20%);
    --blue-5: hsl(0, 0%, 20%);

    --yellow-1: hsl(0, 0%, 20%);
    --yellow-2: hsl(0, 0%, 20%);
    --yellow-3: hsl(0, 0%, 20%);
    --yellow-4: hsl(0, 0%, 20%);
    --yellow-5: hsl(0, 0%, 20%);

    --purple-1: hsl(0, 0%, 20%);
    --purple-2: hsl(0, 0%, 20%);
    --purple-3: hsl(0, 0%, 20%);
    --purple-4: hsl(0, 0%, 20%);
    --purple-5: hsl(0, 0%, 20%);

    --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    --font-mono: "JetBrains Mono", monospace;
}

.searchBar__35e86  {
  display: none;
}

.hljs  {
  background-color: var(--bg-3) !important;
}

* {
  font-family: var(--font-sans);
}

.visual-refresh .textContainer__4d95d {
  background-color: var(--bg-3) !important;
}

body {
    font-family: 'Inter', sans-serif;
}

/* Example usage */
code {
    font-family: 'JetBrains Mono', monospace;
}


.visual-refresh .expandedFolderIconWrapper__48112 {
    border-radius: 12px;
    width: var(--guildbar-avatar-size);
    height: var(--guildbar-avatar-size);
    margin: var(--space-4);
    margin-top: 15px;
}




.container_ab8609, .editable_ab8609 {
  display: none;
}

@font-face { font-family: 'Iosevka Nerd Font'; src: url('https://spectralinsights.github.io/fonts/Iosevka/IosevkaNerdFontMono-Regular.ttf') format('truetype'); font-weight: normal; font-style: normal;}

/* * {font-family: 'Iosevka Nerd Font' !important;} */

:where(.overlay_c0bea0) {
  background-color: transparent !important;
}

.overlay_c0bea0 {
  background-color: transparent !important;
}



.markup__75297 code, .footer__4d95d, .textContainer__4d95d, .wrapper_d5f3cd {
  border: 1px solid #151515 !important;
}

@import url("https://aushevahmad.github.io/awesome-css/modules/custom-bar-prompt.css");


.container__0f2e8, .openOnHover__0f2e8, .headerContainer__095fe, .tadaIcon_eff079
 {
  display: none !important;
}


.progressBar_eff079 {
  background: #252525 !important;
}

.flowerStar__3e3b0 > path {
  fill: #75757575;
}

.modeSelected__2ea32 .link__2ea32, .modeSelected__2ea32:hover .link__2ea32 {
  background-color: #121212 !important;
}



:where(.banner__68edb):before {
  display: none;
}


.tabBar_d1d9f3 {
  border-bottom: none;
}


.privateChannelsHeaderContainer__99e7c {
  display: none;
}


span.clanTag__5d473 {
  border: 1px solid #252525;
  background-color: transparent;
}




textarea[aria-label="Note"] {
  display: none !important;
}

/* OR: hide the whole section that contains the textarea */
textarea[aria-label="Note"] {
  display: none !important; /* Hides only the box */
}

textarea[aria-label="Note"] {
  display: none !important;
}

section[aria-labelledby="uid_334"] {
  display: none !important;
}


section[aria-labelledby="uid_458"] {
  display: none !important;
}

section[aria-labelledby="uid_458"] {
  display: none !important;
}


.guildInviteContainer__083ae {
  width: 400px;
  max-width: 100%;
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  align-items: end;
  justify-content: space-between;
  padding: 8px;
  gap: 8px;
  height: calc(48px + 72px);

  .cardHeightMeasure__083ae {
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    gap: 8px;
    flex: 1 1 auto!important;
  min-width: 0;               
  }

  .mainContent__083ae,
  .established__6e500 {
    display: none;
  }

  .avatarContainer_dca174 {
    margin-top: 0px;
    padding: 0px;
    overflow: hidden;
    min-width: 48px;

    foreignObject {
      mask: none !important;
      overflow: hidden;
      border-radius: 16px;
    }

    >svg {
      width: 48px;
      height: 48px;
    }
  }

  .footer__083ae {
    width: fit-content;
    flex-shrink: 0 !important;
    height: 48px;
align-content: center;
    .buttonContainer__083ae {
      padding: 0px;
      width: fit-content;

      .button__201d5 {
        width: auto;
      }
    }
  }

  .header__6e500 {
    width: max-content !important;
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .nameContainer__6e500, .members__6e500, .memberCount__6e500{
      width: 100%!important;
      flex-wrap: nowrap;
    }

    [data-text-variant] {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .banner__083ae {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
  }
}



/* remove gradient glow in chat and user list */
.threeColorGradient_e5de78,
.twoColorGradient_e5de78 {
  &.usernameGradient_e5de78 {
    color: color-mix(in lab, var(--custom-gradient-color-1), var(--custom-gradient-color-2));
    background: none;
    -webkit-text-fill-color: initial;
  }

  &::after,
  &.nameGlow__703b9 {
      display: none;
  }
}


.inner_c0bea0, .container__6f250, .grid__623de.hasThumbnail__623de  {
  border: 1px solid #151515 !important;

}

.grid__623de.hasThumbnail__623de, .grid__623de {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

 .embedFull__623de {
  border: 4px solid #151515 !important;
 }


.banner__68edb {
  background-color: #000 !important;
}

.grid__623de {
  border: 1px solid #151515;
}


.originalLink_af017a {
  border-radius: inherit;
  border: 1px solid #151515;
}


.inner_c0bea0, .container__6f250, .grid__623de.hasThumbnail__623de  {
  border: 1px solid #151515 !important;
  border-radius: inherit !important;
}


.vc-shiki-root .vc-shiki-code {
  background-color: #000 !important;
}



.icon_a629d4 {
    background-color: #202020 !important;
    color: #cacaca;
}


.perksDemoContainer__5dec7 > svg > path{
    fill: #cacaca !important;
}

.text__87e56 {
    color: #cacaca;
}

/* 
.text-sm\/medium_cf4812 {
    display: none;
} */


.perksDemoContainer__5dec7 {
    display: none;
}




.perksDemoContainer__5dec7 {
    display: none;
}

.containerDefault__29444 {
  > div {
    padding-left: 0.5em;

    > div {
      display: flex !important;
      place-content: start !important;
      flex-direction: row-reverse !important;
    }
  }
}

form>div.focusLock__49fc1>div.rootWithShadow__49fc1 {
    width: var(--modal-width-medium);

    .header__49fc1 {
        padding: var(--modal-vertical-padding) var(--modal-horizontal-padding);
        margin-bottom: var(--modal-vertical-padding);
        border-bottom: var(--border-normal) solid 1px;

        .colorHeaderPrimary_c9946a {
            text-align: center;
            font-weight: var(--font-weight-semibold);
            flex-grow: 1;
        }

        .closeButton_e858dd {
            top: unset;
            right: var(--modal-horizontal-padding);
            margin-bottom: auto;
            margin-top: auto;

            .contents__201d5 {
                height: 24px;
            }
        }
    }

    .submissionWarning_e858dd {
        display: none;
    }

    .formItem__1b11b .eyebrow_b717a1 {
        margin-bottom: 4px;

        .errorMessage_b717a1 {
            color: var(--text-danger);
        }
    }

    .input__0f084.error__0f084:focus {
        color: var(--text-normal);
        transition-property: border-color, color;
    }

    .footer__49fc1 {
        justify-content: space-between;
    }
}

.tile_d6271c {
    width: 200px !important;

    .tileSizer_d6271c {
        aspect-ratio: 1 / 1;
        width: 200px;

        .tile__2f4f7,
        .background_fb62e2 {
            background: none !important;
        }

        .border__2f4f7 {
            width: 84px;
            height: 84px;
            align-self: center;
            justify-self: center;
            border-radius: 100%;
        }

        .overlayContainer__2f4f7 {
            z-index: 100;
            width: 150px;
            height: 150px;
            align-self: center;
            justify-self: center;
            gap: 0;

            .overlayBottom__2f4f7 {
                height: 130px;
                flex-direction: column-reverse;
                justify-content: space-between;

                .overlayTitle__2f4f7 {
                    opacity: 1;
                    top: 0;
                    justify-content: center;
                    padding: 6px;
                    margin: 0px !important;
                    background: linear-gradient(to top, black 0%, transparent 100%) !important;
                    border-radius: 0px;
                }

                .statusContainer__2f4f7 {
                    width: 84px;
                    align-items: end;
                    align-content: end;
                    justify-content: end;

                    .status__2f4f7 {
                        backdrop-filter: blur(10px);
                    }
                }
            }
        }
    }

    .tileChild__2f4f7:has(.videoWrapper__2f4f7) {
        .overlayContainer__2f4f7 {
            width: calc(100% - 16px);
            height: calc(100% - 16px);
            z-index: auto;
        }

        .border__2f4f7 {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: var(--custom-base-tile-border-radius);
            pointer-events: none;
            width: 100%;
            height: 100%;
        }
    }
}


/* good */


.tile_d6271c {
    width: 200px !important;

    .tileSizer_d6271c {
        aspect-ratio: 1 / 1;
        width: 200px;

        .tile__2f4f7,
        .background_fb62e2 {
            background: none !important;
        }

        .border__2f4f7 {
            width: 84px;
            height: 84px;
            align-self: center;
            justify-self: center;
            border-radius: 100%;
        }

        .overlayContainer__2f4f7 {
            z-index: 100;
            width: 150px;
            height: 150px;
            align-self: center;
            justify-self: center;
            gap: 0;

            .overlayBottom__2f4f7 {
                height: 130px;
                flex-direction: column-reverse;
                justify-content: space-between;

                .overlayTitle__2f4f7 {
                    opacity: 1;
                    top: 0;
                    justify-content: center;
                    padding: 6px;
                    margin: 0px !important;
                    background: linear-gradient(to top, black 0%, transparent 100%) !important;
                    border-radius: 0px;
                }

                .statusContainer__2f4f7 {
                    width: 84px;
                    align-items: end;
                    align-content: end;
                    justify-content: end;

                    .status__2f4f7 {
                        backdrop-filter: blur(10px);
                    }
                }
            }
        }
    }

    .tileChild__2f4f7:has(.videoWrapper__2f4f7) {
        .overlayContainer__2f4f7 {
            width: calc(100% - 16px);
            height: calc(100% - 16px);
            z-index: auto;
        }

        .border__2f4f7 {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: var(--custom-base-tile-border-radius);
            pointer-events: none;
            width: 100%;
            height: 100%;
        }
    }
}



.listItems_affa7e {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
}

.controlSection_bfe55a {
    opacity: 1 !important;
    transform: none !important;
}


.layerContainer_da8173:has(.carouselModal_d3a6f0) .tooltip__382e7 {
    display: none;
}

.carouselModal_d3a6f0 {
    justify-content: center;
    display: flex;
    gap: 8px;
    width: fit-content;
    margin: auto;

    .topBar__6088c {
        place-self: start;
        order: 1;

        .actionButtons_cc1819 {
            padding: 0px !important;
            margin: 0px !important;
            background-color: transparent;
            border: none;
        }

        .authorAvatar__6088c,
        .author__6088c,
        .closeButton__6088c,
        .actionButton_cc1819:has(path[d="M15.62 17.03a9 9 0 1 1 1.41-1.41l4.68 4.67a1 1 0 0 1-1.42 1.42l-4.67-4.68ZM17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"]),
        .actionButton_cc1819:has(path[d="M21.7 7.3a1 1 0 0 1 0 1.4l-5 5a1 1 0 0 1-1.4-1.4L18.58 9H13a7 7 0 0 0-7 7v4a1 1 0 1 1-2 0v-4a9 9 0 0 1 9-9h5.59l-3.3-3.3a1 1 0 0 1 1.42-1.4l5 5Z"]),
        .actionButton_cc1819:has(path[d="M4 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm10-2a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm8 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"]) {
            display: none !important;
        }

        .actionButton_cc1819:has(path[d="M15 2a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0V4.41l-4.3 4.3a1 1 0 1 1-1.4-1.42L19.58 3H16a1 1 0 0 1-1-1Z"]) {
            width: auto;
            height: 0;

            &::after {
                content: "Open in browser";
                width: max-content;
                display: flex;
                height: auto;
                pointer-events: all;

                :hover {
                    color: white;
                }
            }

            &::after:hover {
                color: white;
            }

            .actionButtonInner_cc1819 {
                display: none;

            }
        }
    }

    .navPrev_b2eddf {
        position: fixed;
        left: -64px;
        background-color: transparent;

        .buttonInner_aec7ab {
            border: none !important;
        }
    }

    .navNext_b2eddf {
        position: fixed;
        right: -64px;
        background-color: transparent;

        .buttonInner_aec7ab {
            border: none !important;
        }
    }
    .galleryContainer_d75751 {
        display: none;
    }
}

[class*="rtcConnectionStatusWrapper__"] {
    [class*="rtcConnectionStatus__"] + a > div > div {
        display: none !important;
    }
}

.childWrapperNoHoverBg__6e9f8, .wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8, .wrapper__6e9f8:hover .childWrapper__6e9f8 {
    background-color: #121212 !important;
}

.lookFilled__201d5.colorPrimary__201d5 {
    background-color: #101010 !important;
    color: #cacaca !important;
}

.lookFilled__201d5.colorPrimary__201d5:hover {
    background-color: #202020 !important;
    color: #cacaca !important;
}

.postEnrollmentBackground__636a2 {
    background-color: #000 !important;
    background-image: none !important;
}

.autocompleteRow__13533:has(.icon_ca5f52[src="https://cdn.discordapp.com/avatars/1211781489931452447/2b5cd2dc89eb963155f55520a6fa0495.webp?size=32"]),
.iconCard_cb32c7:has(.iconCard_cb32c7[src="https://cdn.discordapp.com/app-icons/1211781489931452447/8904fec86de9bb7a71b2ae1e71a1adbc.png?size=128"]),
.container_cb32c7[aria-label^="Wordle"] {
  display: none;
}

.colorable_f1ceac.disconnect_f1ceac {
    background-color: #101010 !important;
}

.colorable_f1ceac.disconnect_f1ceac, .colorable_f1ceac.disconnect_f1ceac .centerIcon_f1ceac {
    color: #cacaca;
}


.streamPreview__2f4f7 {
    background-color: #353535 !important;

}



@container root style(--colors: on) {
    .visual-refresh {
        .colorable_f1ceac.primaryDark_f1ceac, .reaction_f8896c {
            background-color: #151515 !important;
        }
    }
}


/* Custom stuff */

@property --show-chatbar-icons {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}


@container body style(--show-chatbar-icons: off) {
  .buttons__74017 {
    display: none !important;
  }
}



/* option to hide screenshare popout */
@property --screenshare-pop-up-window {
  syntax: 'on | off';
  inherits: false;
  initial-value: on;
}

@container body style(--screenshare-pop-up-window: off) {
  .pictureInPictureWindow__6341f {
    display: none !important;
  }
}



/* call background color of people profiles in call */
@property --call-gray-color-background-icons {
  syntax: 'on | off';
  inherits: false;
  initial-value: off;
}

@container body style(--call-gray-color-background-icons: on) {
  .background_fb62e2 {
    background-color: #151515 !important;
    border-radius: inherit;
  }
}



.contentAndCopyButtonWrapper__98ba8, .contentContainer__98ba8, .contentWrapper__98ba8 {
    background: #000;
    border: 1px solid #151515;
}
